* {
    margin: 0px;
    padding: 0px;
}

header {
    background-image: url(../img/imagem4.jpg);
    color: rgb(227, 232, 235);
    text-align: center;
    padding: 40px 30px;
    margin: 1spx;
}

#imagem4 {
    align-items: center;
}

ul {
    padding: 10px;

}

ul li {
    padding: 10px;

}

a {
    text-decoration: none;
    color: black;
}

aside {
    width: 20%;
    height: 100vh;
    background-color: rgb(228, 228, 142);
}

main {
    display: flex;
    height: 100vh;
}

section {
    width: 100%;
    background:rgb(92, 87, 87);
}